<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xp Launcher</title>
    <link rel="stylesheet" href="styles.css">

</head>

<body class="body">
<h1 class="welcome">Welcome to Xp Launcher</h1>

<div class="links">
    <link><a class="monitor"  href="https://unsplash.com/photos/green-leafed-trees-during-daytime-_EMkxLdko9k">Monitor</a>
    <link><a class="task" href="https://www.reddit.com/r/taskmanagement/comments/10t73u9/how_to_use_task_management_software/">Task</a>
    <link><a class="rate" href="https://www.reddit.com/r/jobsearch/comments/10t73u9/how_to_use_task_management_software/">Rate</a>
    <link><a class="friends" href="https://www.reddit.com/r/taskmanagement/comments/10t73u9/how_to_use_task_management_software/">Friends</a>

</div>

<div class="login"> <span class="message">You need to log in or create a new account!</span>
    <div class="log-box">
        <span> <button class="login-button"> Log In</button></span>
        <span> <button class="login-button"> Sign up</button></span>

    </div>
</div>

<footer class="footer">
    <p>2024 Xp Launcher &#174 All rights  reserved!</p>
    <p>Privacy Policy</p>
    <p>Terms & Conditions</p>
    <p>About</p>
</footer>
</body>
</html>
